.hero {
    display: flex;
    font-family: var(--dosis);
}

.item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.hero__image img {
    width: 100%;
}

.hero__image {
    overflow: hidden;
    width: 100%;
    min-width: 300px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.hero__info h1{
    padding-bottom: 20px;
}

.buyme {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;

    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: orange;
    height: 48px;
    transition: .3s;
}

.buyme:hover {
        transform: scale(1.04);
        background-color: orangered;
        box-shadow: 0 0 10px 0 crimson;
}
/* 
.container {
    overflow: hidden;
} */

