.whatis__heading {
    text-align: center;
}

.whatis__image {
    text-align: center;

}

.whatis__image img {
    width: 100%;
}

.whatis__content {
    display: flex;
    gap: 50px 5%;
    padding: 5% 0;
    flex-wrap: wrap;
    justify-content: center;
}

.whatis__info {
    max-width: 250px;
    flex-grow: 1;
    flex-basis: 0;
    border-radius: 20px;
    background-color: #0051ff4a;
    filter: drop-shadow(0 0 1rem#23008595);
    padding: 20px;
}

.whatis__info h3 {
    text-align: center;
}